pre {
  background-color: rgb(214, 214, 214);
padding: .3em;
border-radius: 10px;
}
.screenshot {
  max-width: 120%;
box-shadow: 10px 10px 5px #888888;
margin-top: 25%;
}

.section.full{
  min-height: 100%;
}